@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #737373;
  cursor: pointer;
}

.hM {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.hS {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.bM {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.bS {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.button {
  padding: 11px 27px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .hM {
    font-size: 24px;
  }
}
