@tailwind base;
@tailwind components;
@tailwind utilities;

.hM {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.hS {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.bM {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.bS {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.button {
  padding: 11px 27px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .hM {
    font-size: 24px;
  }
}
